.b{
  font-weight: bold;
  float: right;
}
.red { color: red;

}
.reda{
  color: red;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}
.row{
  margin: 0px;
}
.box-top{
  border-top: 4px solid var(--border);
}
.box-bottom{
  border-bottom: 4px solid var(--border);
}
.div li{

}
.box1{
  border: 4px solid var(--border);
}
.rHistory{
  width: 150px;
}
.rHistory option{

  font-size: small;
}
.makebold{
  font-weight: bold;
}
.input-custom{
  border-style: inset;
  border-color: var(--border);
  height: 26px;
  width: 95px;
  padding: 1px 4px;
  border-style: solid;
  border-width: 2px;
  border-radius: 7px 7px;
  background-color: var(--bg);
}
.pa{
  width: 50px;
}
.pd{
  width: 70px;
}
.wid{
  width: 94px;
}
.widAmt{
  width: 86px;
}
.pde{
  border-color: #ff70a0
}



.table-l table{
  padding: 0px 4px;
}
.table-l tbody{

  padding: 0px 4px;

}
.table-l tr td{
  padding: 0px 6px;

}
.table-l th{
  padding: 0px 4px;
}
