<div class="row">
  <div class="col-md-4">
    <div>
      <ul>

        <li>Loan #  <input [(ngModel)]="Loan.loanID"  id="fn" type="text" value="00000" (input)="onChangedLoanID()" class="input-custom"></li>
        <li>Status {{Loan.primStat}}</li>
        <li>Borrower {{Loan.borrowerName | asCase:"lower"}}, CoBorrower {{Loan.coBorrowerName | asCase:"lower"}}</li>
        <li>Address {{MA.addressLine1}} {{MA.addressLine2}}</li>
        <li>{{MA.city}},  {{MA.state}} {{MA.zip}} </li>

      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <ul>
      <li>Interest Rate {{Loan.interestRate | percent}}</li>
      <li>Due Date {{Loan.dat | date:"MM/dd/yyyy"}}</li>
      <li># Payments Due {{Loan.numberOfPaymentsdue}}</li>
      <li>Total Due: {{Loan.principalBal | currency}}</li>
      <li>Payment Amount {{Loan.paymentAmount | currency}}</li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul>
      <li>SPOC {{Loan.inglePointOfContactName}}</li>
      <li>Type {{Loan.loanType}}</li>
      <li>Collector:</li>

    </ul>
  </div>
</div>
