.div li{

}
.box1{
  border: 4px solid #cdcd00;
}

.input-custom{
  border-style: inset;
  border-color: #9e511b;        /* Border color of the members component input fields */
  height: 20px;
  width: 95px;
  border-style: solid;
  border-width: 2px;
  border-radius: 7px 7px;
  background-color: #0c0f1d;
}
.pa{
  width: 50px;
}
.pd{
  width: 70px;
}
.wid{
  width: 94px;
}
.widAmt{
  width: 86px;
}
.pde{
  border-color: #ff70a0
}

.table-l caption{
  color: #95a2bf;
  text-align: center;
}

.table-l table{
  padding: 0px 4px;
}
.table-l tbody{

  padding: 0px 4px;

}
.table-l tr td{
  padding: 0px 6px;

}
.table-l th{
  padding: 0px 4px;
}
