.div li{

}
.input-custom{
  border-style: inset;
  border-color: #9e511b;        /* Border color of the members component input fields */
  height: 20px;                      /* This controls the height of all the input fields */
  border-style: solid;
  border-width: 2px;
  border-radius: 7px 7px;
  background-color: #0c0f1d;
}
