<div class="row">
  <div class="col-md-4">
    <div>
      <ul>

        <li>Loan #  <input [(ngModel)]="Loan.loanID"  id="fn" type="text" value="00000" (input)="onChangedLoanID()" class="input-custom"></li>
        <li>Status {{Loan.primStat}}</li>
        <li>Borrower {{Loan.borrowerName | asCase:"name"}}; CoBorrower {{Loan.coBorrowerName | asCase:"name"}}</li>
        <li>Address {{MA.addressLine1 | asCase:"name"}} {{MA.addressLine2 }}</li>
        <li>{{MA.city | asCase:"name"}},  {{MA.state }} {{MA.zip}} </li>
        <li>Google Map <a href="{{gref}}"> Map </a></li>

      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <ul>
      <li>Interest Rate {{Loan.interestRate | percent}}</li>
      <li>Due Date {{Loan.dueDate | date:"MM/dd/yyyy"}}</li>
      <li># Payments Due {{Loan.numberOfPaymentsdue}}</li>
      <li>Total Due: {{Loan.principalBal | currency}}</li>
      <li>Payment Amount {{Loan.paymentAmount | currency}}</li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul>
      <li>SPOC {{Loan.spoc}}</li>
      <li>Type {{Loan.loanType}}</li>
      <li>Collector: {{Loan.collector}}</li>
      <li><app-contact [loan]="getLoan()"></app-contact></li>
    </ul>
  </div>
</div>
