<div class="row box1">
  <div class="col-md-12">

      <h3>
        {{Loan.loanID}}  {{Loan.investor}} Due: {{Loan.dueDate | date:"MM/dd/yyyy"}} Collect/{{Loan.collector}} {{Loan.primStat}}
      </h3>
      <div>
        Borrowers  {{Loan.borrowerName}} , co {{Loan.coBorrowerName}}
        Address - {{MA.addressLine1 | asCase:"name"}} {{MA.addressLine2 }} {{MA.city | asCase:"name"}},
        {{MA.state}} {{MA.zip}}  loans: {{otherLoans.length}}

          <select name="other" ngModel>
            <option *ngFor="let o of otherLoans" [ngValue]="o">
              {{ o.loanID }}
            </option>
          </select>

      </div>

  </div>


</div>
<!--<div class="row">
  <div class="col-lg-2">
    Borrowers:  {{Loan.borrowerName}} , {{Loan.coBorrowerName}}
  </div>
  <div class="col-lg-8">
    Address {{MA.addressLine1 | asCase:"name"}} {{MA.addressLine2 }} {{MA.city | asCase:"name"}},
    {{MA.state}} {{MA.zip}}
  </div>

</div>-->

<div class="row">
  <div class="col-md-4">
    <div>
      <ul>

        <li>Loan #  <input [(ngModel)]="Loan.loanID"  id="fn" type="text" value="00000" (input)="onChangedLoanID()" class="input-custom"></li>
        <li>Status {{Loan.primStat}}</li>
        <li>Investor {{Loan.investor}}</li>
        <li>Borrower {{Loan.borrowerName | asCase:"name"}}; CoBorrower {{Loan.coBorrowerName | asCase:"name"}}</li>
        <li>Address {{MA.addressLine1 | asCase:"name"}} {{MA.addressLine2 }}</li>
        <li>{{MA.city | asCase:"name"}},  {{MA.state }} {{MA.zip}} </li>
        <li>Google Map <a href="{{gref}}"> Map </a></li>

      </ul>
    </div>

  </div>

  <div class="col-md-4">
    <ul>
      <li>Interest Rate {{Loan.interestRate | percent}}</li>
      <li>Due Date {{Loan.dueDate | date:"MM/dd/yyyy"}}</li>
      <li># Payments Due {{Loan.numberOfPaymentsdue}}</li>
      <li>Total Due: {{Loan.principalBal | currency}}</li>
      <li>Payment Amount {{Loan.paymentAmount | currency}}</li>
      <li>SPOC {{Loan.spoc}}</li>
      <li (mouseover)="hoverAU()" (mouseleave)="leaveAU()">Authorized Users</li>

    </ul>
  </div>

  <div class="col-md-4">
    <ul>
      <li>Type {{Loan.loanType}}</li>
      <li>Collector: {{Loan.collector}}</li>
      <li>Last contact {{c.dateLastContacted}}</li>
      <li>Reason {{c.reason}}</li>
      <li>Outcome {{c.outcome}}</li>
      <li>Demeanor {{c.demeanor}}</li>
      <li>Follow up date {{c.followUpDt | date:"MM/dd/yyyy"}}</li>
    </ul>
  </div>


</div>
<div class="row">
  <div class="col-md-4">
    <!--d: {{c.promisedByDate | date:"MM/dd/yyyy"}}-->
    <form (submit)="savePromise()" #memberForm="ngForm" autocomplete="off">
      <div>
        <label class="wid {{d1}}" for="pbd">Promise Date </label>
        <input name="pbd" class="pbd" type="date" id="pbd" [(ngModel)]="hpbd">
        <!--<input [(ngModel)]="pbd" class="pd {{d1}}" id="pbd" name="pbd">-->

        <label class="widAmt" for="pa">Promise Amt</label>
        <input class="pa" type="number" [(ngModel)]="c.promiseAmt" id="pa" name="pa">
      </div>

      <div>
        <label class="wid {{d2}}" for="pbd2">Promise Date 2</label>
        <input class="pbd" type="date" [(ngModel)]="hpbd2" id="pbd2" name="pbd2">
        <label for="pa2">Promise Amt 2</label>
        <input class="pa" type="number" [(ngModel)]="c.promiseAmt2" id="pa2" name="pa2">
      </div>

      <div>
        <label class="wid {{d3}}" for="pbd3">Promise Date 3</label>
        <input class="pbd" type="date" [(ngModel)]="hpbd3" id="pbd3" name="pbd3">
        <label for="pa3">Promise Amt 2</label>
        <input class="pa" type="number" [(ngModel)]="c.promiseAmt3" id="pa3" name="pa3">
      </div>

      <div>
        <button type="submit" class="btn-blue">Update Promise</button>
      </div>
    </form>
  </div>
  <div *ngIf="showAU" class="col-md-8">
    <div><app-authorized-users [loan]="getLoan()"></app-authorized-users></div>
  </div>
</div>

