<form (submit)="savePromise(memberForm)" #memberForm="ngForm" autocomplete="off">
  <div>
    Demeanor:
    <select name="dem" ngModel>

      <option *ngFor="let dem of demeanors" [selected]="dem.description == c.demeanor" [ngValue]="dem" >
        {{ dem.description }}
      </option>
    </select>
    <label class="wh">  </label>
    Reason:
    <select name="res" ngModel>

      <option *ngFor="let res of reasons"  [selected]="res.description == c.reason" [ngValue]="res" >
        {{ res.description }}
      </option>
    </select>
  </div>
  <div>
  Outcome:
    <select name="outc" ngModel>

      <option *ngFor="let outc of outcomes" [selected]="outc.description == c.outcome" [ngValue]="outc" >
        {{ outc.description }}
      </option>
    </select>
  </div>
  <div>
    <label class="wid {{d1}}" for="fol">Follow Up Date </label>
    <input name="fol" class="pbd" type="date" id="fol" [(ngModel)]="fold">
  </div>
  <div>
    <label class="wid {{d1}}" for="pbd">Promise Date </label>
    <input name="pbd" class="pbd" type="date" id="pbd" [(ngModel)]="hpbd">
    <!--<input [(ngModel)]="pbd" class="pd {{d1}}" id="pbd" name="pbd">-->

    <label class="widAmt" for="pa">Promise Amt</label>
    <input class="pa" type="number" [(ngModel)]="c.promiseAmt" id="pa" name="pa">
  </div>

  <div>
    <label class="wid {{d2}}" for="pbd2">Promise Date 2</label>
    <input class="pbd" type="date" [(ngModel)]="hpbd2" id="pbd2" name="pbd2">
    <!--{{c.promiseDate2 | date:"MM/dd/yyyy"}}-->
    <label for="pa2">Promise Amt 2</label>
    <input class="pa" type="number" [(ngModel)]="c.promiseAmt2" id="pa2" name="pa2">
  </div>

  <div>
    <label class="wid {{d3}}" for="pbd3">Promise Date 3</label>
    <input class="pbd" type="date" [(ngModel)]="hpbd3" id="pbd3" name="pbd3">
    <label for="pa3">Promise Amt 2</label>
    <input class="pa" type="number" [(ngModel)]="c.promiseAmt3" id="pa3" name="pa3">
  </div>

  <div>
    <button type="submit" class="btn-blue">Update Contact</button>
  </div>
</form>
