.ml{margin-left: 10px;}
.table-d{
  padding: 0px 9px;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  height: 340px;

}
table{
  scrollbar-base-color: black;
  scrollbar-arrow-color: purple;
  scrollbar-face-color: blue;
}
.table-d caption{
  color: #95a2bf;
  text-align: center;
}
.table-d thead{

}
.table-d tbody{
  width: calc(100% - 16px);
}
.table-d tr td{
  padding: 0px 4px;
}
.table-d th{
   padding: 0px 4px;
 }
.table-d tr:nth-child(even){
  background-color: #0c0f1d;
}

.table-l{
  padding: 0px 9px;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  height: 840px;

}
.table-l caption{
  color: #95a2bf;
  text-align: center;
}
.table-l thead{

}
.table-l tbody{
  width: calc(100% - 20px);
}
.table-l tr td{
  padding: 0px 4px;
}
.table-l th{
  padding: 0px 4px;
}
.table-l tr:nth-child(even){
  background-color: #0c0f1d;
}
