<div>
<input type="text" [(ngModel)]="uri">
  <input type="test" [(ngModel)]="command">  <button (click)="setSecure()">Set https</button> <button (click)="setHttp()">Set http</button>
</div>
<div>
  text area for post data:
  <textarea [(ngModel)]="body" id="comment"></textarea>
</div>
<div>
  <button (click)="testGet()">test get</button>
  <div>
  <button (click)="testPut()">test Post</button>
  </div>
</div>
<div>
  <button (click)="testThis()"> Dial Out</button>

  <button (click)="systemInfo()"> System Info</button>
  <button (click)="wrapUpTest()">Wrap up test</button>
  <button (click)="setReadyState()">Set State to Ready</button>
  <button (click)="setNotReadyState()">Set State to NOT Ready</button>
</div>
<div>
  API Result PUT:{{response}}
</div>
