:host {
  display: block;

  background-color: #1d2528;
  color: #FFCC99;
}
ul{

}
ul li{ cursor: default;}
nav{
  color: #3cb0fd;
}
body{
  background-color: black;
  color: #FFCC99;
  font-family: Garamond;


}/* You can add global styles to this file, and also import other style files */
h1{ /* colors of the heading text */
  margin: 0;
  background: #1d2528;
  color: #FFCC99;
}

h2{
  background: #1d2528;
  color: #FFCC99;
}

h3{
  background: #1d2528;
  color: #FFCC99;
}
div{
  background: #1d2528;
  color: #FFCC99;
}
html{
   text-size-adjust: 100%;
 }
.sh{
  height: 800px;
}


.table-norm{
  padding: 0px 9px;

}

.table-norm caption{
  color: #95a2bf;
  text-align: center;
}
.table-norm tr td{
  padding: 0px 4px;

}
.table-norm th{
  padding: 0px 4px;
  min-width: 100px;
}
.table-norm tr:nth-child(even){
  background-color: #0c0f1d;
}

