
.themeLight{
  --colorvar: black;
  --caption: black;
  --bg: white;
  --9th: #d1e5d8;
  --border: black;
  --evenFor: #211b36;
  --shade: #d8d8ff;
  --highlight: #632203;
}
.themeDark{
  --colorvar: #CBD4DD;
  --caption: #ddbdca;
  --bg: #1d2528;
  --9th: black;
  --border: #98a9c5;
  --shade: #193e5c;
  --evenFor: #ddbdca;
  --highlight: white;
}

.hasborder{
  border: 5px solid var(--shade);
}

.h3{
  font-size: large;
  margin-top: 4px;
  margin-bottom: 4px;
}
.h4{
  font-size: medium;
  margin-top: 4px;
  margin-bottom: 2px;
}
.wh{
  white-space: pre;
}

:host {
  display: block;
  background-color: var(--bg);
  color: var(--colorvar);
}


ul{

}
ul li{ cursor: default;}
nav{
  color: var(--colorvar);
}
body{
  background-color: var(--bg);
  color: var(--colorvar);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}/* You can add global styles to this file, and also import other style files */
input{
  background-color: var(--bg);
  color: var(--colorvar);
  //color: red;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
label{
  font-size: small;
}
h1{ /* colors of the heading text */
  margin: 0;
  background: var(--bg);
  color: var(--colorvar);
}

h2{
  background: var(--bg);
  color: var(--colorvar);
}

h3{
  background: var(--bg);
  color: var(--colorvar);
}
div{
  background: var(--bg);
  color: var(--colorvar);
}
html{
   text-size-adjust: 100%;
 }
select{
  background: var(--bg);
  color: var(--colorvar);
}
option{
  background: var(--bg);
  color: var(--colorvar);
}
caption{
  color: var(--caption);
  text-align: center;
}
.sh{
  height: 800px;
}


.table-norm{
  padding: 0px 9px;

}

.table-norm caption{
  color: var(--colorvar);
  text-align: center;
}
.table-norm tr td{
  padding: 0px 4px;

}
.table-norm th{
  padding: 0px 4px;
  min-width: 100px;
}
.table-norm tr:nth-child(even){
  background-color: var(--9th);
}

.btn-blue {
  background: #0e2737;
  background-image: -webkit-linear-gradient(top, #0e2737, #193e5c);
  background-image: -moz-linear-gradient(top, #0e2737, #193e5c);
  background-image: -ms-linear-gradient(top, #0e2737, #193e5c);
  background-image: -o-linear-gradient(top, #0e2737, #193e5c);
  background-image: linear-gradient(to bottom, #0e2737, #193e5c);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 90%;
  height: 26px;
  color: #9cc2ee;
  font-size: 14px;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  margin:0 auto;
  display:block;
  /*min-height: 20px;*/
}

.btn-blue:hover {
  background: #0e0630;
  background-image: -webkit-linear-gradient(top, #0e0630, #193e5c);
  background-image: -moz-linear-gradient(top, #0e0630, #193e5c);
  background-image: -ms-linear-gradient(top, #0e0630, #193e5c);
  background-image: -o-linear-gradient(top, #0e0630, #193e5c);
  background-image: linear-gradient(to bottom, #0e0630, #193e5c);
  text-decoration: none;
}



.btn-grey {
  background: #1f242a;
  background-image: -webkit-linear-gradient(top, #1f242a, #424857);
  background-image: -moz-linear-gradient(top, #1f242a, #424857);
  background-image: -ms-linear-gradient(top, #1f242a, #424857);
  background-image: -o-linear-gradient(top, #1f242a, #424857);
  background-image: linear-gradient(to bottom, #1f242a, #424857);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial;
  width: 200px;
  height: 25px;
  color: #ddd7c0;
  font-size: 14px;
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  margin: 0 auto;
  display:block;
  /*min-height: 20px;*/
}

.btn-grey:hover {
  background: #0c0f1d;
  background-image: -webkit-linear-gradient(top, #0c0f1d, #0c0f1d);
  background-image: -moz-linear-gradient(top, #0c0f1d, #0c0f1d);
  background-image: -ms-linear-gradient(top, #0c0f1d, #0c0f1d);
  background-image: -o-linear-gradient(top, #0c0f1d, #0c0f1d);
  background-image: linear-gradient(to bottom, #0c0f1d, #0c0f1d);
  text-decoration: none;
}
