<div class="ml">
  <!--<form (submit)="submitComments()" #memberForm="ngForm">-->
  <table class="table-entry">
    <tr>

      <td class="{{isCommentRed}}" colspan="2">
        <label for="cl">Comment</label>
        <select id="cl" name="cl" ngModel (ngModelChange)="onCommentSelect($event)">
          <option *ngFor="let cl of commentList"  [ngValue]="cl"  >
            {{ cl.description }}
          </option>
        </select>
      </td>

      <td  colspan="2" class="{{isAddNoteRed}}">
        <!--<label for="an">Add Notes</label>-->
        <table>
          <tr>
            <td>
             <label class="wh"> Add Notes </label>
            </td>
            <td width="320px">
              <textarea [(ngModel)]="inputAdditionalNote" id="an" class="input-area text-area-h"></textarea>
            </td>
          </tr>
        </table>


      </td>
      <td></td>



    </tr>
    <tr>
      <td>
        <label for="crs">CR Statement</label>
        <input type="checkbox" id="crs" [(ngModel)]="comment.callrec">
      </td>
      <td>
        <label for="dem">Demographic</label>
        <input type="checkbox" id="dem" [(ngModel)]="comment.demographic">
      </td>
      <td>
        <label for="dial" class="wh"> Dialed Number</label>
      </td>
      <td>
        <input type="text" id="dial" [(ngModel)]="comment.dialedNumber">
      </td>
    </tr>

    <tr>
      <td>
        <label for="bcn" class="wh">Best Contact Number </label>

      </td>
      <td>
        <input type="text" id="bcn" [(ngModel)]="comment.bestNumber">
      </td>
      <td>
        <label for="plm" class="wh"> Permission to Leave Message</label>

      </td>
      <td>
        <input type="checkbox" id="plm" [(ngModel)]="comment.permissionToLeaveMessage">
      </td>
    </tr>

    <tr>
      <td>
        <label for="poen" class="wh">Place of Employment </label>

      </td>
      <td>
        <input type="text" id="poen" value="Refused" [(ngModel)]="comment.placeOfEmploymentName">
      </td>
      <td>
        <label for="poen2" class="wh"> Employment Phone</label>
      </td>
      <td>
        <input type="text" id="poen2" [(ngModel)]="comment.placeOfEmploymentNumber">
      </td>
    </tr>
    <tr>
      <td>
        <label for="rtpd">Requested Total</label>

      </td>
      <td>
        <input type="checkbox" id="rtpd" [(ngModel)]="comment.requestedTotalPastDue">
      </td>
      <td>
        <label for="bi" class="wh"> Borrower's Intent</label>
      </td>
      <td>
        <input type="text" id="bi" [(ngModel)]="comment.borrowersIntent">
      </td>
    </tr>
    <tr>
      <td>
        <label for="rd">Reason Delinquent</label>

      </td>
      <td>
        <input type="text" id="rd" [(ngModel)]="comment.reasonForDeliquency">
      </td>
      <td>
        <label for="email" class="wh"> Email</label>

      </td>
      <td>
        <input type="text" id="email" [(ngModel)]="comment.emailAddress">
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <button class="btn-blue" type="button" (click)="onSubmit()">{{saveButton}}</button>
      </td>
    </tr>

  </table>



  <!--  </form>-->
</div>
