<div class="ml">
  <!--<form (submit)="submitComments()" #memberForm="ngForm">-->
  <table class="table-entry">

    <tr>
      <td>
        <label>Comment</label>
      </td>
      <td class="{{isCommentRed}}">
        <select name="cl" ngModel (ngModelChange)="onCommentSelect($event)">

          <option *ngFor="let cl of commentList"  [ngValue]="cl"  >
            {{ cl.description }}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label>Additional Notes</label>
      </td>
      <td class="~{{isAddNoteRed}}">
        <textarea [(ngModel)]="inputAdditionalNote" id="an" class="input-area text-area-h"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn-blue" type="button" (click)="onSubmit()">{{saveButton}}</button>
      </td>
    </tr>

  </table>
  <!--  </form>-->
</div>
