


<div class="ml">

  <table class="table-d">
    <caption>Comment History</caption>
    <thead>
    <tr>
      <th>Date</th>
      <th>Setup By</th>
      <!--<th class="cmw">Comment</th>-->
      <th>Comment / Additional Notes</th>
    </tr>
    </thead>
    <tr *ngFor="let cmt of comments"  (click)="onUsingTable(cmt)">
      <td class="cmw">
        <table>
          <tr>
            <td>
              {{cmt.dateandTime | date:"MM/dd/yyyy"}}
            </td>
          </tr>
          <tr>
            <td>
              {{cmt.dateandTime | date:"jm"}}
            </td>
          </tr>

        </table>
      </td>


      <td class="cmw">{{cmt.setupBy}}</td>
      <!--<td class="cmw"> {{cmt.comment}} </td>-->
      <td>
        <table class="table-sub">
          <tr>
            <td>{{cmt.comment}}</td>
          </tr>
          <tr>
            <td>{{cmt.additionalNotes}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <button *ngIf="!gacFlag" class="btn-blue btn-w al" type="button" (click)="getCommentsAll()">Get All Comments</button>
</div>

<!--    <div>
      <button type="button" class="btn-blue" (click)="onToggleDu()">{{expando}}</button>
    </div>-->



