

<div class="row">

  <div class="col-xs-6">
    <div>
      <table class="table-entry">
        <tr>
          <td><label class="cm">Comment</label></td>
          <td class="an">Additional Notes</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <textarea [(ngModel)]="inputComment" id="comment" class="input-area text-area-h cm"></textarea>
          </td>

          <td class="an">
            <textarea [(ngModel)]="inputAdditionalNote" id="an" class="input-area text-area-h an"></textarea>
          </td>
          <td>
            <form (submit)="submitComments()" #memberForm="ngForm">
              <div>
                <button class="btn-blue">Add Comment</button>
              </div>
            </form>
          </td>
        </tr>

      </table>
    </div>
    <div>
      <button type="button" class="btn-blue" (click)="onToggleDu()">{{expando}}</button>
    </div>
  </div>
</div>
  <div class="row" *ngIf="showComments===true">
    <div class="col-md-6">
      <table class="table-view">
          <tr>
            <th>Date</th>
            <th>Setup By</th>
            <th>Comment</th>
            <th>Additional Notes</th>
          </tr>
          <tr *ngFor="let cmt of comments"  (click)="onUsingTable(cmt)">
            <td> {{cmt.dateandTime | date:"MM/dd/yyyy hh:mm"}} </td>
            <td>{{cmt.setupBy}}</td>
            <td> {{cmt.comment}} </td>
            <td>{{cmt.additionalNotes}}</td>
          </tr>
          </table>
    </div>
  </div>


